@import '../../styles/vars';

.button {
  height: 30px;
  min-width: 80px;
  width: 200px;
  border: 1px solid $medium-gray;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  color: $medium-gray;
}
