@import '../../styles/vars';
@import '../../styles/mixins';

.userHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $medium-gray;
  margin: 0 10%;

  img {
    margin-bottom: 10px;
  }

  div {
    padding-bottom: 10px;
  }

  .userName {
    @include userName;
    font-size: 18px;
  }
}

.userShortSummary {
  display: flex;
  flex-direction: row;
  font-size: 8px;

  div {
    padding: 0 10px;
  }

  span {
    text-transform: uppercase;
    color: $medium-gray;
  }
}

.userSummary {
  display: flex;
  flex-direction: column;
  align-items: center;

  .summaryHeader {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 25px;
    font-style: italic;
    font-family: serif;
    letter-spacing: 2px;
  }

  .summarySubHeader {
    font-size: 12px;
    text-transform: uppercase;
    color: $medium-gray;
    padding: 20px 0;
    text-align: center;
  }

@media screen and (max-width: 600px) {
  padding: 0 10px;
}

}

.list {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.userTile {
  position: relative;
  margin: 0 5px;

  svg {
    width: 70px;
    height: 70px;
  }

  .userName {
    text-align: center;
    @include userName;
  }

  .userTilePhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.userDiscussion {
  width: 100%;
  height: 170px;
  position: relative;
  padding-top: 20px;

  svg {
    width: 100%;
    height: 170px;
  }

  .userDiscussionContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    margin-top: 20px;

    img {
      position: relative;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
    }

    &>div {
      position: relative;
      text-align: center;
    }

    .userDiscussionText {
      @include question;
      font-size: 20px;
      padding-bottom: 20px;
    }

    .userDiscussionHeader {
      @include subHeader;
      font-size: 12px;
    }

    .userDiscussionSummary {
      &>span {
        padding: 0 5px;
      }
    }

    .userName {
      @include userName;
    }
  }
}
