@mixin container {
  width: $break-big;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $break-big) {
    width: 100%;
  }
}

@mixin subHeader {
  color: $dark-gray;
  text-transform: uppercase;
}

@mixin userName {
  color: $dark-blue;
}

@mixin question {
  font-style: italic;
  color: $dark-blue;
}
