$break-big: 900px;
$break-small: 320px;

//Colors:

$light-gray: #e1e1e1;
$lighter-gray: lighten($light-gray, 5%);
$faint-gray: #fafafa;

$medium-gray: #aaa;
$dark-gray: darken($medium-gray, 30%);

$light-blue: #d3edfd;
$dark-blue: darken($light-blue, 50%);

$yellowish: #FCD399;
