@import '../../styles/vars';

.searchInput {
  display: flex;
  justify-content: space-between;

  .input {
    width: 100%;
    margin-right: 10px;
    background-color: $lighter-gray;
    padding: 0 10px;
    -webkit-appearance: none;
    border: 1px solid $light-gray;
  }
}
