@import '../../styles/vars';
@import '../../styles/mixins';

.headerContainer {
  position: relative;
  z-index:2;
  background-color: white;
  box-shadow: $light-gray 0px 1px 1px;
}

.header {
  @include container();
  padding-top: 30px;
  padding-bottom: 30px;
}
