@import '../../styles/vars';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 60px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  padding-right: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.plus {
  height: 25px;
  width: 25px;
  background-color: $dark-blue;
  border-radius: 50%;
}

.navbarRight, .navbarLeft, .tabs {
  display: flex;
  align-items: baseline;
}

.navbarLeft {
  margin-right: 20px;
}

.sorts {
  width: 150px;
}
