@import '../../styles/vars';
@import '../../styles/mixins';

.appWrapper {
  margin: 0 40px 60px;
  background-color: white;
  box-shadow: $lighter-gray 1px 1px 10px;
}

.appContainer {
  @include container();
}
