@import '../../styles/vars';
@import '../../styles/mixins';

.appWrapper {
  margin: 0 40px 60px;
  background-color: white;
  box-shadow: $lighter-gray 1px 1px 10px;

  @media screen and (max-width: 550px) {
    margin: 0 0 60px;
  }
}

.appContainer {
  @include container();
}
